h1{
  font-size: 45px;
  border-bottom: 1px solid white;
  margin:0;
  padding:20px;
  text-decoration: none;
  text-align: center;
 }
 ol{
  width:100px;
  margin:0;
  padding:10px;
 }
 body{background-image: url('moon.PNG');
 background-repeat: no-repeat;
 background-size: cover;}
 .favorite{ color:navy; font-size: 45px; text-decoration: none; background-color: white; text-shadow: 6px 2px 2px lightblue;}
  .spicy{color:orange;
    text-decoration:none;
font-size: 20px;}
  .drama{color: white;
  text-decoration: none;
font-size: 20px;}
  .DIY{color: yellow;
  text-decoration: none;
font-size: 20px;}
#grid{display: grid;
grid-template-columns: 150px 1fr}
#grid #navigation{ padding-left: 33px}
#grid #article{padding-left: 25px}
#navigation{
  border-right: 1px solid white;
}
body{ font-family:"맑은고딕", arial sans-serif;}
@media (max-width:800px)
 {#grid{display: block;}
ol{border-right:none;}
h1{border-bottom:none;}

}
